<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogposts</title>
    <link rel="stylesheet" href="/styles/blogpost.css">
</head>

<body>
    <header>
        <div>
            <a href="/dashboard">Dashboard</a>
            <h2>Blogposts</h2>
            <a href="/logout">Log out</a>
        </div>
    </header>
    <a class="new" href="/blogposts/new">Create new</a>
    <div class="main-container">
        {{#each blogposts}}
        <div id="uid_{{this._id}}" class="card">
            <div class="blog-name">
                {{this.email}}
            </div>
            <div class="blog-content">
                {{this.content}}
            </div>
            <div class="old">
                <a class="old1" href="/blogposts/edit/{{this.id}}">edit</a>
                <a class="old2" href="/blogposts/delete/{{this.id}}">delete</a>
            </div>
        </div>
        {{/each}}
    </div>
</body>

</html>