<h1>You accessed this page via GET request</h1>
<p>ID passed: {{this.id}}

  <table border="1" width="80%">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Address</th>
      <th>Avg. Grade</th>
    </tr>
    
    <tr id="id_{{this.id}}">
      <td>{{this.first_name}}</td>
      <td>{{this.last_name}}</td>
      <td>{{this.address}}</td>
      <td>{{this.avg_grade}}</td>
      <td><button type="submit" name="edit">Update</button>
        <button type="submit" name="delete">Delete</button></td>

    </tr>
    
  </table>
